body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #dedfdf;
}

.header-default {
    width: 100%;
    height: 70px;
}

.main-content {
    width: 100%;
    flex: 1;
    padding: 2%;
}
