.container-add-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-add-content {
    height: 70px;
    width: 100%;
    display: flex;
}

.list-title-add-content {
    height: 100%;
    width: 100%;
    background: #181a26;
    display: flex;
    justify-content: space-around;
}

.item-title-add-content {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #6b8cff;
}

.item-title-add-content span {
    height: fit-content;
    width: fit-content;
    display: flex;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.item-title-add-content span:hover {
    background-color: #6b8cff;
    color: white;
    cursor: pointer;
}

.main-add-content {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
}

#id-container-add-category {
    width: 100%;
    height: 100%;
}

#id-container-add-supplier {
    width: 100%;
    height: 100%;
}

#id-container-add-product {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.form-add-content {
    display: none;
}

.form-add-content.active {
    display: flex;
}

.item-title-add-content {
    cursor: pointer;
    color: #999;
}

.item-title-add-content.active {
    color: #4da3ff;
    border-bottom: 2px solid #4da3ff;
}
