body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.header-user {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;
}
.content {
    width: 100%;
    flex: 1;
    display: flex;
}

.main-content {
    padding: 1rem;
    flex: 1;
    background-color: #e7e7e7;
}
