input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.cart-view {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.content-product-cart-view-zone {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
}

.list-product-cart-view-zone {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-product-cart-view {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;
    display: flex;
    background: #cccccc;
    border-radius: 10px;
}

.img-product-cart-view {
    width: 15%;
    height: auto;
    display: flex;
    justify-content: center;
}

.img-product-cart-view img {
    width: 60px;
    height: 60px;
    border: solid 1px black;
    display: flex;
    border-radius: 10px;
}

.name-product-cart-view {
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.price-product-cart-view {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-product-cart-view {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-quantity-cart-view {
    width: 35px;
    height: 35px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.minus-quantity-product-cart-view {
    width: 35px;
    height: 35px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: solid 1px black;
}

.plus-quantity-product-cart-view {
    width: 35px;
    height: 35px;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px black;
}

.pay-zone-cart-view {
    width: 38%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #cccccc;
    border-radius: 10px;
    flex-direction: column;
}

.title-pay-cart-view {
    width: 95%;
    height: auto;
    padding-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.total-pay-cart-view {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.title-pay-cart-view span {
    font-size: 20px;
}

.pay-zone-cart-view p {
    font-size: 18px;
    font-weight: 600;
}

.content-pay-cart-view {
    width: 95%;
    height: auto;
    display: flex;
    gap: 10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.total-discount-cart-view {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.list-discount-cart-view {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item-discount-cart-view {
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 20px;
    justify-content: space-between;
}

.price-pay-zone-cart-view {
    width: 95%;
    height: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px 0 10px 0;
}

.price-pay-cart-view {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.btn-pay-cart-view {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
