#id-form-container-infor-category {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    gap: 20px;
}

.header-infor-category {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.left-header-category {
    height: auto;
    width: auto;
    display: flex;
    gap: 10px;
}

.content-infor-category {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.table-infor-category {
    height: auto;
    width: 100%;
}

.table-infor-category tr th {
    table-layout: fixed;
    text-align: center;
    border: solid 1px gray;
}

.table-infor-category tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    border: solid 1px gray;
}

.button-infor-category-zone {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button-infor-category-zone a {
    height: 60px;
    width: 90px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.img-infor-category-zone {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-infor-category {
    height: 100px;
    width: 150px;
    display: flex;
}

.list-count-category {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-list-count-category {
    height: auto;
    width: auto;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    justify-content: space-between;
}

.detail-list-count-category li {
    height: 20px;
    width: 20px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
}

.detail-list-count-category li a {
    height: auto;
    width: auto;
    display: flex;
    text-decoration: none;
}
