.wrap-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6b8cff;
}

.center-header {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-header {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-zone {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-zone input {
    width: 90%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 10px;
}

.input-zone span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 26%;
    cursor: pointer;
}

.user-cart-zone {
    width: 80%;
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.icon-user {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: #c7bebf;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.icon-cart {
    width: 150px;
    height: 45px;
    border-radius: 15px;
    display: flex;
    font-size: 20px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    background-color: #6b8cff;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
