.wrap-form-profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    background-color: white;
    border-radius: 15px;
}

.avatar-user-zone {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.infor-user-zone {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn-post-zone {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-change-infor {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-user {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-user img {
    width: auto;
    height: auto;
    display: flex;
}

.row-infor {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: solid 1px #6b7280;
}

.title-infor {
    padding: 0;
    color: #6b7280;
}

.change-infor-user-zone {
    width: 100%;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.change-avatar-user {
    color: blue;
    cursor: pointer;
}

.row-change-infor {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.row-change-infor input {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    padding-left: 10px;
}

.btn-post-zone button {
    height: 50px;
    width: auto;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #6b8cff;
}

.btn-change-infor button {
    height: 50px;
    width: auto;
    padding: 0 20px 0 20px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: #6b8cff;
}
