html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header-user {
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    display: flex;
}

.content {
    width: 100%;
    flex: 1;
    display: flex;
}

.main-content {
    height: 100%;
    flex: 1;
    background-color: #e7e7e7;
}
